body {
    background: #f8f9f5;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.badge {
    font-weight: normal;
    border-radius: 2px;
}

.table td {
    font-size: 14px;
}

.form-group {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

a:focus, a:hover {
    text-decoration: none;
}

.login-wrapper {
    max-width: 500px;
    margin: 150px auto;
}

.alert, .btn, .form-control {
    font-size: inherit;
    border-radius: 2px;
}

select.form-control:not([size]):not([multiple]) {
    height: inherit;
}

select.form-control {
    appearance: auto;
}

.btn-xs {
    padding: 2px 5px;
    font-size: 90%;
}

.box {
    background: #fff;
    margin-bottom: 20px;
    border-radius: 2px;
    box-shadow: 2px 2px 2px #ddd;
    border: solid 1px #ddd;
    overflow: auto;
}

.box-header {
    background: #eee;
    padding: 15px;
    border-radius: 2px 2px 0 0;
    border-bottom: solid 1px #ddd;
}

.box-p {
    padding: 15px;
}

.box-bb {
    border-bottom: solid 1px #ddd;
}

.box-bt {
    border-top: solid 1px #ddd;
}

.box-title {
    padding: 0;
    margin: 0;
}

.box table.table {
    margin: 0;
}

.form-control:focus {
    box-shadow: none;
}

.form-label {
    font-weight: bold;
    text-align: right;
}

.topbar {
    background: #333;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 8px;
    color: #fff;
    z-index: 2;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0f4dd4+0,00e6ff+100 */
    background: #0f4dd4;
    /* Old browsers */
    background: -moz-linear-gradient(left, #0f4dd4 0%, #00e6ff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #0f4dd4 0%, #00e6ff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #0f4dd4 0%, #00e6ff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f4dd4', endColorstr='#00e6ff', GradientType=1);
    /* IE6-9 */

}

.qmenu {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
}

.qmenu li {
    display: inline;
}

.qmenu li a {
    color: #999;
    display: inline-block;
    padding: 0 10px;
}

.sidebar {
    width: 240px;
    padding-top: 60px;
    background: #4984f8;
    box-shadow: 2px 2px 2px #ddd;
    top: 49px;
    min-height: 100vh;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0f4dd4+0,00e6ff+100 */
    background: #0f4dd4;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #0f4dd4 0%, #00e6ff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #0f4dd4 0%, #00e6ff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #0f4dd4 0%, #00e6ff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f4dd4', endColorstr='#00e6ff', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */

}

.main {
    margin-top: 64px;
    padding: 15px;
}

.main-content {
    background: #fff;
    padding: 30px;
    border: solid 1px #ddd;
    border-radius: 3px;
}

.userinfo {
    background: #888;
    padding: 15px;
}

.userinfo img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    float: left;
    background: #fff;
    padding: 2px;
}

.user-details {
    margin-left: 70px;
    font-size: 14px;
    color: #fff;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn-logout {
    padding: 2px 5px;
    font-size: 10px;
    margin-top: 5px;
}

.menu li {
    border-bottom: solid 1px #2a6efd;
}

.menu li span {
    float: right;
}

.menu li a {
    display: block;
    padding: 10px;
    color: #fff;
}

.menu li a:hover {
    background: #2a6efd;
    text-decoration: none;
    color: #fff;
}

.menu li.has-submenu ul {
    display: none;
}

.menu li.active ul {
    display: block;
}

.menu li.has-submenu li a span {
    float: none;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    border-top: solid 1px #2a6efd;
    border-bottom: none;
    padding-left: 20px;
}

.widget {
    background: #555;
    position: relative;
    color: #fff;
    padding: 15px;
    border-radius: 3px;
    border-right: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    text-align: center;
    margin-bottom: 20px;
}

.widget-icons {
    padding: 15px 0 5px;
    font-size: 40px;
    margin-bottom: 15px;
}

.widget a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.page-header {
    border-bottom: solid 1px #ddd;
    padding: 15px 0;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header .h5, .page-header h5 {
    margin: 0;
}

table.table thead tr td, table.table tr th {
    font-size: 14px;
}

.ul-icons {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ul-icons li {
    margin-bottom: 5px;
    padding-left: 20px;
    position: relative;
}

.ul-icons li .fa {
    position: absolute;
    left: 0;
    bottom: 0;
}

.tiles a:hover {
    text-decoration: none;
}

.main-outer {
    display: flex;
    justify-content: space-between;
}

.main-outer .main {
    flex: 1;
}

.main-outer.full-view .sidebar {
    display: none;
}

.badge {
    display: inline-block;
    padding: 2px;
}

.badge-success {
    background-color: green;
}

.badge-danger {
    background-color: red;
}

.box-footer-dark {
    background-color: rgba(0, 0, 0, 0.4);
}

.errors ul {
    margin: 0;
}

.dashboard .box {
    margin: 0;
}

.control-label {
    font-weight: bold;
    padding-top: 10px;
    font-weight: bold;
}

.card-info {
    border-top: solid 3px #007bff;
}

.tab-container {
    margin-bottom: 20px;
}

.tab-menu {
    background: #fff;
    border: solid 1px #eee;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden;
}

.tab-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.tab-menu ul li {
    border-right: solid 1px #eee;
}

.tab-menu ul li:last-child {
    border: none;
}

.tab-menu ul li a {
    display: inline-block;
    padding: 10px 25px;
    color: #333;
}

.tab-menu ul li.active a, .tab-menu ul li.active a:hover {
    background-color: #464343;
    color: #fff;
}

.tab-menu ul li a:hover {
    background-color: #f5f5f5;
}

.tab-content {
    padding: 20px;
    border: solid 1px #eee;
    border-top: none;
    background: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.btn-status {
    width: 100px;
}

table.dataTable tr {
    border-bottom: solid 1px #DDD;
}

.box-grad1 {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00e6ff+0,0f4dd4+100 */
    background: #00e6ff;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #00e6ff 0%, #0f4dd4 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #00e6ff 0%, #0f4dd4 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #00e6ff 0%, #0f4dd4 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00e6ff', endColorstr='#0f4dd4', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.box-grad2 {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d4e9f9+0,b4d8fa+100 */
    background: #d4e9f9;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #d4e9f9 0%, #b4d8fa 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #d4e9f9 0%, #b4d8fa 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #d4e9f9 0%, #b4d8fa 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e9f9', endColorstr='#b4d8fa', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    color: #007bff;
}

.btn-menu {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .menu li span, .sidebar {
        display: none;
        padding-top: 0;
    }

    .topbar {
        position: relative;
    }

    .main {
        margin-top: 0;
    }
}